.groupList {
  --margin-right: 175px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 700px;
  margin: auto;
}
.wrapperTodo {
  position: relative;
  padding-right: var(--margin-right);
}

.removeFromGroup {
  padding: 2px 5px;
  position: absolute;
  z-index: 1;
  right: 0px;
  cursor: pointer;
  height: 100%;
  font-size: 16px;
  width: var(--margin-right);
}
