* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-bg-color: #726364;
  --main-navBar-color: rgb(65, 55, 55);
  --main-color: rgb(0, 199, 199);

  /* INPUT BUTTON */
  --main-bg-button: var(--main-navBar-color);
  --main-color-border: rgb(0, 199, 199);
  --main-border-radius: 2px;
  --main-font-size: 18px;

  --form-bg: #292e31;
}

body {
  /* background-color: var(--main-bg-color); */
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  max-width: 1240px;
  padding: 0 15px;
  margin: auto;
}

.customHover:hover {
  background-color: rgb(80, 73, 73);
  color: rgb(0, 255, 255);
}
.error {
  color: red;
  text-align: center;
  margin: auto;
  font-size: var(--main-font-size);

  text-shadow: 0px 2px 5px rgb(0, 0, 0);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bdbdbd;
}
