.selectWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select {
  width: 100%;
  padding: 12px 40px 12px 16px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  background-color: var(--main-navBar-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select option {
  padding: 12px;
  font-size: 14px;
}
