.todo {
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 229, 229);
  /* max-width: 250px; */
  padding: 5px 10px;
  border-bottom: 2px solid var(--main-color);
  font-size: var(--main-font-size);
  margin-bottom: 5px;
}
