.todo {
  --right-space: 5px;
  --top-space: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 229, 229);

  padding: 5px calc(var(--right-space) + var(--main-font-size) + 10px) 5px 10px;
  border-bottom: 2px solid var(--main-color);
  font-size: var(--main-font-size);
  margin-bottom: 5px;
  position: relative;
  margin-top: var(--top-space);
}
.wrapperSettings {
  display: flex;
  gap: 10px;
  align-items: center;
}

.edit {
  padding: 0px;
  background: none;
}
.editing {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.editing button {
  padding: 0;
  width: 30px;
}
.active {
  border-color: rgb(43, 223, 43);
  background-color: rgb(127, 224, 127);
}
.groupText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(-1 * var(--top-space));
  background-color: white;
  padding: 2px 5px;
  border-bottom: 2px solid var(--main-color);
}
