.MyForm {
  font-size: var(--main-font-size);
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  gap: 20px;
  background-color: var(--form-bg);

  margin: auto;
}
.formTitle {
  text-align: center;
  font-size: calc(var(--main-font-size) + 15px);
  color: var(--main-color);
}
