.wrapper {
  background-color: var(--main-navBar-color);

  box-shadow: 0px 1px 2px rgba(14, 13, 13, 0.5);
}
.navBar {
  display: flex;
  margin-bottom: 30px;
}
.left,
.right {
  display: flex;
}
.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}

.link {
  color: var(--main-color);
  font-weight: bolder;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: calc(var(--main-font-size) + 10px);
  letter-spacing: 1px;
  transition: 0.5s all;
}

.active {
  border-bottom: 2px solid black;
}
