.Group {
  background-color: var(--form-bg);
  padding: 15px 10px;

  display: flex;
  flex-direction: column;
  position: relative;
}
.title {
  font-size: calc(var(--main-font-size) + 5px);
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}
.span {
  border-bottom: 2px solid var(--main-color);
}
.pin {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 50px;
  cursor: pointer;
}
